.homeLink::before {
  /*AJUSTES CLIENTE*/  content: "Home";
    font-size: 14px;
    color: #808080;
    text-decoration: underline;
}
.homeIcon{
    display: none;
}
.link{
    color: #808080;
    font-size: 14px;
    text-decoration: underline;
}
.term {
    color: #001E49;
  /*AJUSTES CLIENTE*/  font-size: 14px;
    font-weight: bold;
}
.link--1:hover {
    color: #001e49;
    font-weight: 900;
}
.arrow::before {
    content: "";
    background: #001E49;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}
.arrow {
    display: flex;
    align-items: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.caretIcon{
    display: none;
}